:root, .light {
  --bg-base: #FDFBF7;
  --bg-surface: #F4EFE6;
  --border-color: #E2D5C4;
  --color-primary: #C59B5F;
  --color-primary-hover: #A9824C;
  --text-main: #4A3320;
  --text-muted: #80634D;
}

.dark {
  --bg-base: #1A1614;
  --bg-surface: #26211E;
  --border-color: #3D352F;
  --color-primary: #C59B5F;
  --color-primary-hover: #A9824C;
  --text-main: #F3EFEA;
  --text-muted: #AFA499;
}
